/reloadfile.jolla.json
/reloadfile.emu.json
/reloadfile.json
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

/py/credentials.py
# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
.idea
third/soundcloud-0.4.1-py3.4.egg-info
third/soundcloud-0.4.1-py3.5.egg-info
third/fudge-1.0.3-py3.4.egg-info
third/fudge-1.0.3-py3.5.egg-info
third/simplejson-3.8.0-py3.4.egg-info
third/fudge
third/simplejson
third/requests-2.7.0.dist-info

third/simplejson-3.8.0-py3.5.egg-info
